/*h2 {
  font-weight: 600!important ;
  margin-bottom: 10px!important ;
}*/

.subtitle:not(:last-child), .title:not(:last-child) {
    margin-bottom: 0.8rem!important ;
}

.label {
  font-weight: 400!important ;
}

.logo {
  margin-right: 10px;
}

.nav {
  /*border-bottom: 1px solid #82a3ce;*/
  margin-bottom: 25px;
}

.type {
  font-size: 15px;
  font-style: italic;
}
